header {
	color: #FFFFF;
	height: 70px;
	width: 100%;
	border-bottom: 1px #CCCCCC;
	display: flex;
	align-items: center;
}

header .logo {
	width: 142px;
	height: 60px;
	background: url("../images/logo.png") no-repeat center;
	padding-left: 20px;
}

/**
 * media queries for smaller screens
 */
@media screen and (max-width: 600px) {
	header {
		height: 50px;
	}
	
	header .logo {
		width: 100px;
		height: 40px;
		background-size: contain;
		padding-left: 20px;
	}
}
